<!--Movie Page-->
<div class="col-xs-6 col-sm-12 col-md-12 col-lg-12" ng-if="loading">
    <div class="page-header">
        <h1>Please Wait...</h1>
    </div>
</div>
<div class="col-xs-6 col-md-10" ng-if="!loading">
    <div ng-if="movie.title">
        <div class="page-header">
            <h1>Episode {{ id }}: {{ movie.title }}</h1>
        </div>
        <p><a href="#/">Home</a><p>

    <div class="panel panel-default">
        <div class="panel-body">
        Name: {{ movie.title }}
    </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
        Opening Crawl:
            <p>
            {{ movie.opening_crawl }}
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            Director: {{ movie.director }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body" ng-repeat="character in movie.characters">
            <ul class="btn-group" >
               <button>{{character}}</button>
            </ul>
        </div>
    </div>
</div>
